{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous">
    </script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link rel="stylesheet" media="all" href="{% static 'CSS/style.css' %}" />
    <title>Document</title>
</head>

<body>

    <div class="container d-flex justify-content-center align-items-center vh-100">
        <div class="card" style="width: 28rem; border: none; border-radius: 0;">
            {% if error_message %}
                <div class="alert alert-warning alert-dismissible fade show" role="alert" style="margin-bottom: 0;">
                    <strong>Atención!</strong> {{ error_message }}
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            {% endif %}
            {% if error_datos %}
                <div class="alert alert-warning alert-dismissible fade show" role="alert" style="margin-bottom: 0;">
                    <strong>Atención!</strong> {{ error_datos }}
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            {% endif %}
            <div class="container-fluid" style="background-color:rgb(85, 20, 62)">
                <h5 class="card-title"
                    style="padding: 20px; text-align: center; color: aliceblue; font-weight: 900; font-size: xx-large;">
                    Iniciar Sesion
                </h5>
            </div>
            <div class="card-body">
                <form id="registro-form" method="post" action="{% url 'login' %}">
                    {% csrf_token %}
                    <div class="mb-3" style="padding: 10px 20px 20px 20px">
                        <input type="text" name="nombre_usuario" placeholder="Usuario" class="form-control">
                        <input type="password" name="password" placeholder="Contraseña" class="form-control" style="margin-bottom: 0;">
                    </div>
                    <div class="mb-3" style="padding-left: 20px;">
                        <button type="submit" class="btn btn-outline-dark">INICIAR SESION</button>
                    </div>
                    <div class="container mb-3" style="text-align: right;">
                        <button class="btn btn-outline-light" style="border: 0; background-color: transparent;">
                            <a href="{% url 'registro' %}" style="text-decoration: none;">
                                Registrarse
                            </a>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!--
    <script>
        $(document).ready(function(){
            $('#registro-form').submit(function(event){
                event.preventDefault();

                var obtnerDatos = $(this).serialize();

                $.ajax({
                    type: 'POST',
                    url: '{% url "registro" %}',
                    data: obtnerDatos,
                    success: function(response){
                        alert(response)
                    },
                    error: function(xhr, errmsg, err){
                        alert(xhr.status + ": " + xhr.responseText);
                    }
                    
                });
            });
        });
    </script>
    -->
</body>

</html>